@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');


/* CSS RESET */

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  html {
    interpolate-size: allow-keywords;
  }
  body {
    
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
 
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
 

  /* APP */

  body {
    background-color: #04000f;
        background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
        color: white;
        font-family: "Turret Road", sans-serif;
        font-weight: 400;
        font-style: normal;

  }

  /* CONTAINER */
  .container{
    max-width: 1200px;
    margin: 0 auto;
  }

  /* TODO List */
  .title{
    text-align: center;
    padding: 3rem 0 1rem;
    font-size: 3rem;
  }

  .todos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .todo{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    background-color: rgba(255, 255, 255, 0.1);
    width: 50%;
    font-size: 1.2rem;
    border-radius: 1rem;
    transition: all 0.2s;

    &:hover{
        background-color: rgba(255, 255, 255, 0.2);
    }

  }

  .mutations{
    display: flex;
    gap: 0.75rem;
  }

  .todo__status,
  .todo__delete{
    border: none;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    transition: all 0.2s;
    background: none;
    color: white;

    &:hover{
        transform: scale(1.15);
    }
  }

  /* FORM */
  .form{
    display: flex;
    gap: 0.5rem;
    width: 50%;
    margin: 1rem auto;
  }

  .todo__status{
    font-size: 1.75rem;
  }

  .form__input{
    flex: 1;
    padding: .75rem 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    color: white;

    &:focus,
    &:hover{
        background-color: rgba(54, 0, 201, 0.5);
    }
  }

  .form__button{
    border: none;
    background-color: rgba(66, 0, 247, 0.7);
    cursor: pointer;
    color: white;
    border-radius: 0.5rem;
    transition: all 0.2s;

    &:hover{
        background-color: rgba(54, 0, 201, 0.5);
    }
  }

  @media(max-width: 430px){
    .title{
      font-size: 2.5rem;
    }
    .form{
      width: 90%;
    }
    .todo{
      width: 90%;
    }
  }

